@model IDGS904_tema1.Models.Traductor

@{
    ViewBag.Title = "Traduccion";
}

<h2>Traduccion</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>Traductor</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })

        <div class="form-group">
            @Html.LabelFor(model => model.Palabra, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Palabra, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Palabra, "", new { @class = "text-danger" })
            </div>
        </div>
        <div class="form-group">
            <div class="col-md-10">
                @Html.RadioButtonFor(model => model.Seleccionado, "Español", new { id = "Español" }) @Html.Label("Español", "A Español")
                @Html.RadioButtonFor(model => model.Seleccionado, "Ingles", new { id = "Ingles" }) @Html.Label("Ingles", "A Ingles")
            </div>
        </div>
        <div>
            @TempData["Resultado"]
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Traducir" class="btn btn-outline-dark rounded-pill px-5 mt-5" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Guardar Palabra", "Registrar")
</div>
